*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(187, 187, 189);
    color: rgb(212, 208, 208);
}
.container{
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;   
}
h3{
    font-weight: 600;
    color: rgb(51, 51, 51);
    font-family: Arial, Helvetica, sans-serif;
}
.calculatorBody{
   display: grid;
   grid-template-columns: repeat(4,6rem);
   grid-template-rows: minmax(6rem,auto) repeat(5,6rem);
}
.span-two{
    grid-column: span 2;
}
.operationsDisplay{
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 1rem;
    word-break: break-all;
    word-wrap: break-word;
    width: 384px;
    height: 110px;
}
.operationsDisplay .previous-operand{
    color: rgba(255,255,255,0.75);
    font-size: 1.5rem;
}
.operationsDisplay .current-operand{
    color: white;
    font-size: 2.5rem;
}
button{
    font-size: 24px;
    background-color: #3B3B3B;
    opacity: 0.8;
    color: white;
    border: 2px solid rgb(104, 102, 102);
}
button:hover,button:focus{
    background-color: #494949;
}
